.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    display: flex;
    margin: 10px;
}

/* ********* */
/* Flexbox 1 */
/* ********* */

.flexOne > .square {
    margin: 5px;
}

/* ********* */
/* Flexbox 2 */
/* ********* */

.flexTwo {
    flex-direction: column;
}

.flexTwo > .square {
    margin: 2px;
}

/* ********* */
/* Flexbox 3 */
/* ********* */

.flexThree {
    flex-direction: row-reverse;
    justify-content: start; /* Esto no viene en el enunciado pero lo he puesto por la foto */
}

.flexThree > .square {
    margin: 2px;
}

/* ********* */
/* Flexbox 4 */
/* ********* */

.flexFour {
    width: 350px;
    flex-flow: wrap;
}

.flexFour > .square {
    margin: 5px;
    background-color: #3d8b6d;
}

/* ********* */
/* Flexbox 5 */
/* ********* */

.flexFive {
    width: 350px;
    flex-flow: wrap;
}

.flexFive > .item {
    margin: 2px;
    background-color: #0b6643;
    width: 100px;
    height: 100px;
}

.flexFive > #grow {
    flex-grow: 2;
}

/* ********* */
/* Flexbox 6 */
/* ********* */

.flexSix {
    width: 500px;
    height: 400px;
    background-color: #f1f1f1;
    flex-direction: column;
}

.flexSix > .one,
.flexSix > .two,
.flexSix > .three {
    display: flex;
}

.flexSix > .one {
    justify-content: space-around;
}

.flexSix > .two {
    justify-content: space-between;
    margin: 50px 0;
    background-color: #d6d6d6;
}

.flexSix > .three {
    justify-content: space-evenly;
}

/* ********* */
/* Flexbox 7 */
/* ********* */

.flexSeven {
    width: 500px;
    height: 400px;
    justify-content: space-between;
}

.flexSeven > .one,
.flexSeven > .two,
.flexSeven > .three,
.flexSeven > .four {
    display: flex;
    flex-direction: column;
}

.flexSeven > .one {
    justify-content: center;
}

.flexSeven > .two {
    justify-content: flex-end;
    background-color: #d6d6d6; /* Esto no viene en el enunciado pero lo he puesto por la foto */
}

.flexSeven > .three {
    justify-content: flex-start;
}

.flexSeven > .four {
    justify-content: space-between;
    background-color: #d6d6d6; /* Esto no viene en el enunciado pero lo he puesto por la foto */
}

/* ********* */
/* Flexbox 8 */
/* ********* */

.flexEight {
    width: 300px;
    height: 400px;
    background-color: #eee;
}

.flexEight > .one,
.flexEight > .two,
.flexEight > .three {
    display: flex;
}

.flexEight > .one {
    align-items: center;
}

.flexEight > .two {
    align-items: flex-end;
}

.flexEight > .three {
    align-items: flex-start;
}

/* ********* */
/* Flexbox 9 */
/* ********* */

.flexNine {
    width: 450px;
    height: 250px;
    background-color: #eee;
    justify-content: space-evenly;
}

.flexNine > #special {
    align-self: flex-end;
}